:root{
    --app-primary: #4166FF;
    --app-dark-grey: #727272;
    --app-black: #111433;
    --app-white: #FFFFFF;
    --state-error: #FF4141;
    --state-warning: #FF9C41;
    --state-success: #47D656;
    --text-primary: #111433;
    --text-secondary: #727272;
    --text-on-colored-bg: #FFFFFF;
    --background-button-primary-default: #4166FF;
    --background-button-primary-hover: #1E4AFF;
    --background-button-primary-active: #839BFF;
    --background-button-primary-focused: #1E4AFF;
    --background-button-primary-disabled: #D4D4D4;
    --stroke-input-default: #B0B0B5;
}