:root[data-theme="light"] {
  /* COLOR */
  --dark-primary-colours-accent-base: rgb(92, 176, 173);
  --light-neutral-n-5: rgb(117, 135, 147);
  --neutral-colours-black: rgb(26, 35, 40);
  --neutral-colours-n-1: rgb(255, 255, 255);
  --neutral-colours-n-2: rgb(240, 245, 248);
  --neutral-colours-n-3: rgb(207, 219, 227);
  --neutral-colours-n-4: rgb(165, 179, 188);
  --neutral-colours-n-5: rgb(117, 135, 147);
  --neutral-colours-n-6: rgb(79, 100, 113);
  --neutral-colours-n-7: rgb(24, 50, 66);
  --primary-colours-base: rgb(92, 176, 173);
  --primary-colours-base-light: rgb(165, 231, 217);
  --semantic-colours-danger-base: rgb(211, 63, 40);
  --semantic-colours-danger-light: rgb(243, 206, 200);
  --semantic-colours-info: rgb(0, 143, 226);
  --semantic-colours-sucess: rgb(79, 198, 89);
  --semantic-colours-warning: rgb(255, 216, 0);
  --surface-surface-1: rgb(255, 255, 255);
}
