<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
</head>
<body>
    <main class="p-account-access">
        <div class="o-account-form">
            <h1 class="o-account-form__title">Sign in</h1>
            <h3 class="o-account-form__subtitle">Not sign up ? <a class="a-link" href="sign-up.html">Register</a></h3>
            <form action="">
                <div class="c-form-element">
                    <div class="c-label-element">
                        <label class="a-label" for="email">Email</label>
                        <span class="a-label-error hide">Wrong email</span>
                    </div>
                    <input class="a-input" id="email" type="email" required>
                </div>
                <div class="c-form-element">
                    <div class="c-label-element">
                        <label class="a-label" for="password">Password</label>
                        <span class="a-label-error hide">Wrong password</span>
                    </div>
                    <input class="a-input" id="password" type="password" required>
                </div>
                <div class="o-account-form__button-link">
                    <input class="c-button c-button-primary" type="submit" value="Sign in">
                    <a class="a-link" href="password-forget.html">Forget password ?</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>