#app[data-theme="light"] {
  /* COLOR */
  --light-neutral-black: rgb(26, 35, 40);
  --light-neutral-n-1: rgb(255, 255, 255);
  --neutral-n-1: rgb(26, 35, 40);
  --neutral-n-2: rgb(42, 54, 62);
  --neutral-n-3: rgb(55, 70, 81);
  --neutral-n-4: rgb(78, 96, 108);
  --neutral-n-5: rgb(115, 131, 142);
  --neutral-n-6: rgb(153, 169, 180);
  --neutral-n-7: rgb(200, 212, 220);
  --neutral-white: rgb(255, 255, 255);
  --primary-colours-accent-base: rgb(95, 195, 192);
  --primary-colours-accent-light: rgb(199, 247, 232);
  --semantic-colours-danger: rgb(200, 84, 66);
  --semantic-colours-danger-light: rgb(250, 199, 169);
  --semantic-colours-info: rgb(59, 183, 237);
  --semantic-colours-success: rgb(121, 220, 121);
  --semantic-colours-warning: rgb(237, 228, 78);
  --surface-surface-1: rgb(26, 35, 40);
}
